/* .card {
    background-color: rgb(244, 244, 248);
    border: none
} */
.card {
    border-radius: 21px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(61, 160, 206, 0.08);
    border: none;
    margin-bottom: 30px;
    background-color: rgb(229, 250, 248);
}
